.text {
    color: #ffffff;
}
#logo {
    margin-bottom: -150px; 
    margin-top: -150px; 
    width: 500px; 
    height: 500px;
}
body {
    text-align: center; 
    background-color: #000000; 
    font-family: 'IBM Plex Serif', serif;
}
h1 {
    color:#ffffff;
    font-size: 40px
}
main {
    color: #ffffff;
    font-size: 30px; 
    font-weight: lighter;
}
#banner { 
    background-color: #000000;
}
article {
    font-size: 30px; 
    margin-top: -40px;
}
.images {
    width: 500px; 
    height: 500px; 
    padding: 30px
}
.button {
    color: #ffffff; 
    background-color: #ffffff; 
    text-decoration: none; 
    font-size: 30px; 
    padding-left: 10px; 
    padding-right: 10px; 
    padding-bottom: 4px
}
.social-media {
    width: 60px; 
    border-radius: 50px; 
    margin: 20px
}
#sidebar {
    position: absolute; 
    width: 200px; 
    height: 330px; 
    background: #000000; 
    left: -200px; 
    top: -10px; 
    transition: 0.4s;
}
#sidebar ul li {
    list-style-type: none; 
    font-size: 30px; 
    padding: 15px; 
    margin-left: -50px;
}
#sidebar.active {
    left: 0;
}
#sidebar .toggle-btn {
    position: absolute; 
    top: 30px; 
    left: 330px;
}
.toggle-btn span {
    width: 45px;
    height: 4px; 
    background-color: #ffffff; 
    display: block; 
    margin-top: 4px;
}
.sidebar-hl {
    text-decoration: none; 
    color: #ffffff;
}